@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Shade&family=Iceland&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.blur {
  backdrop-filter: blur(5px);
  border-radius: 10px;
}
